body{
    margin: 0;
    padding: 0;
    background-color: #4c4743;
    color: #000000;
    font-family: 'IM Fell English', serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'IM Fell English SC', serif;
    text-align: center;
}

/* Wrapper */
.wrapper{
    border: 1px solid #c79443;
    background-color: #353230;
    padding: 14px;
    margin: 8px;
}

/* Header section*/
header{
    height: 250px;
    background-color: #843336;
    margin-bottom: 20px;
}

/* Intro section*/
#intro{
    background-color: #94484a;
    margin: 1em 0 2rem;
    padding: 20px 14px;
}
#intro h1{
    border-top: 2px solid #191918;
    border-bottom: 2px solid #191918;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* Explore more section for navigation*/
#explore{
    background-color: #c79443;
    display: flex;
    flex-flow: row wrap;
    margin: 2rem 0;
    padding: 14px;
}
#explore div{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 1em;
}
#explore div img{
    width: 100%;
    height: auto;
    border: 2px solid #1c1c1b;
}
.content{
    background-color: #e2ceb1;
    padding: 1em;
}
/* Dev/project info section*/
#devInfo, #locations{
    background-color: #4c6584;
    padding: 20px 14px;
}
#devInfo{
    display: flex;
    flex-flow: column nowrap;
    gap: 18px;
}
#devInfo h2, #locations h2{
    border-top: 2px solid #191918;
    border-bottom: 2px solid #191918;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#devInfo .content{
    grid-area: text;
}
#devInfo #profile{
    grid-area: profile;
    align-self: center;
}
#devInfo iframe{
    grid-area: playlist;
}
#devInfo img{
    width: 100%;
    height: auto;
}
.area h3{
    text-align: left;
}
.area ul{
    list-style-type: upper-roman;
    list-style-position: inside;
}
.character{
    max-width: 300px;
    width: 100%;
    height: auto;
}
#allCharas{
    background-color: #c79443;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 14px;
}
.character img{
    width: 100%;
    height: auto;
    border: 2px solid #1c1c1b;
}

.chara{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 0.5em;
}
.tag{
    background-color: #364a62;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 1em;
}
.tag .content{
    width: 85%;
}
.tag img{
    width: 100%;
    height: auto;
}
.info{
    background-color: #843336;
    padding: 0.6em;
}
.info h2{
    border-top: 2px solid #191918;
    border-bottom: 2px solid #191918;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
  }
  th{
    background-color: #c9b6a7;
  }
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 10px;
  }
  tr:nth-child(odd) {
    background-color: #c9b6a7;
  }

@media only screen and (min-width: 768px){
    .wrapper{
        padding: 18px;
        margin: 1em;
    }
    /* Intro section*/
    #intro{
        text-align: center;
        margin: 1em 0 2rem;
        padding: 28px;
    }
    #devInfo{
        padding: 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,auto);
        grid-template-areas: "text       profile"
                             "playlist   profile";
        gap: 10px 40px;
    }
    #explore{
        margin: 2rem 0;
        padding: 12px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .chara{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

}
@media only screen and (min-width: 1024px){
/* Wrapper */
.wrapper{
    padding: 18px;
    margin: 2rem 10%;
}
/* Dev/project info section*/
#devInfo{
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: "text       profile"
                         "playlist   profile";
    gap: 40px 20px;
}
/* Explore more section for navigation*/
#explore{
    margin: 2rem 0;
    padding: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.tag img{
    max-width: 600px;
    height: auto;
}
}

/* Buttons style rules */
.explore-btn{
    background-color: #364a62;
    display: inline-block;
    width: 100%;
    padding: 2em 0;
    border: 2px solid black;
    text-align: center;
}
.link-btn{
    background-color: #9c2d30;
    display: inline-block;
    width: 100%;
    margin: 1em auto;
    padding: 1.5em 0;
    border: 2px solid black;
    text-align: center;
}
.nav{
    display: flex;
}
.nav-btn{
    background-color: #c79443;
    margin: 10px auto;
    width: 200px;
    padding: 1em;
    border: 2px solid black;
    text-align: center;
}
a { 
    text-decoration: none;
    font-size: 18px;
    font-family: 'IM Fell English SC', serif;
}
a:link { color: #e4d9d9; }
a:visited { color: #e4d9d9; }
a:focus { color: #000000;}
a:hover { color: #000000;}
a:active { color: #000000; }